* {
    box-sizing: border-box;
    padding: 0;
    margin: 2px;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(168, 168, 168);
}

header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(66, 66, 66);
    color: rgb(245, 166, 102);
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

header nav {
    padding-top: 15px;
    margin-right: 30px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.main-content {
    color: whitesmoke;
    background-color: black;
  
}