* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #4e0404;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color:rgb(34, 34, 34);
    color: #f8dbdb;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
}

header nav {
    margin: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    padding: 10px 15px;
    color: #f8dbdb;
    font-weight: lighter;
    text-decoration: none;
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url("./images/red-snake-skin.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero img {
    height: 300px;
    width: 300px;
    margin: 40px;
    padding: 20px;
    border-radius: 50%;
    align-self: center;
}

.hero h2 {
    background-color:rgb(34, 34, 34);
    color: #f8dbdb;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    align-self: flex-end;
}

.content { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #250202;
    background-color: #f8dbdb;
    opacity: 0.75;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex: 1;
}