* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #4e0404;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header styles */
header {
    background-color:rgb(34, 34, 34);
    color: #f8dbdb;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
}

header nav {
    margin: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;    
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: #f8dbdb;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    padding: 10px 15px;
}

#sticky {
    background-color:rgb(34, 34, 34);
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* hero styles */
.hero {
    height: 300px;
    width: 100%;
    background-image: url("./images/red-snake-skin.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero img {
    height: 250px;
    width: 220px;
    margin: 40px;
    padding: 20px;
    border-radius: 50%;
    align-self: center;
}

.hero h2 {
    background-color:rgb(34, 34, 34);
    color: #f8dbdb;
    font-size: 40px;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    align-self: flex-end;
}
/* main element styles */
.content { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #250202;
    background-color: #f7bcbc;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px dotted #4e0404;
}

.about-me, .work, .contact-me {
    margin: 20px;
    padding: 20px;
}

main section p {
    margin: 40px;
    padding: 20px;
}

main h2 {
    text-decoration: none;
    margin: 25px;
    padding: 10px;
    border-bottom: 4px solid #4e0404;
}

.helpful-gamers {
    background-image: url("./images/helpful-gamers.jpg");
    background-size: cover;
    background-position: right;
    height: 100px;
    width: 600px;
    border: solid thin rgb(34, 34, 34);
    border-radius: 5px;
}

.pic-a-flick {
    background-image: url("./images/pic-a-flick.jpg");
    background-size: cover;
    background-position: right;
    height: 100px;
    width: 300px;
    border: solid thin rgb(34, 34, 34);
    border-radius: 5px;
}

.horiseon {
    background-image: url("./images/horiseon.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 300px;
    border: solid thin rgb(34, 34, 34);
    border-radius: 5px;
}

.run-buddy {
    background-image: url("./images/run-buddy.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 300px;
    border: solid thin rgb(34, 34, 34);
    border-radius: 5px;
}

.code-quiz {
    background-image: url("./images/code-quiz.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 300px;
    border: solid thin rgb(34, 34, 34);
    border-radius: 5px;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 34, 34);
    font-size: medium;
}

/* media screens for 1024px, 768px, 425px, and 320px */
@media screen and (max-width: 1024px) {
   
    header {
        margin: 0px;
        padding: 0px;
    }

    .content {
        margin: 20px;
        padding: 10px;
        flex-direction: column;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    
    header {
        margin: 0px;
        padding: 0px;
    }
   
    .content {
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .about-me, .work, .contact-me {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .subtitle {
        display: none;
    }

    p {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {

    nav {
        display: none;
    }

    .nav-item {
        display: none;
    }

    header {
        margin: 0px;
        padding: 0px;
    }

    header h1 {
        margin: auto;
    }

    .hero {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .helpful-gamers {
        margin: 10px;
        padding: 10px;
        height: 100px;
        width: 300px;
    }

    .run-buddy, .horiseon, .code-quiz {
        margin: 10px;
        padding: 10px;
        height: 75px;
        width: 150px;
    }
    h3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {

    header h1 {
        font-size: 40px;
    }

    .helpful-gamers {
        margin: 5px;
        padding: 5px;
        height: 87px;
        width: 175px;
        font-size: 12px;
        text-align: center;
    }

    .run-buddy, .horiseon, .code-quiz {
        margin: 5px;
        padding: 5px;
        height: 62px;
        width: 125px;
        font-size: 12px;
        text-align: center;
    }

    p {
        text-align: center;
    }
}